*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgb(162, 211, 209);
    padding: 0 48px 3px;
    text-decoration: none;
    display: flex;
}

.menu .items{
    background-color: rgb(162, 211, 209);
    display: flex;
    font-size: 19px;
}


.menu .items li{
    list-style: none;
    color: rgb(19, 63, 62);
    position: relative;
}

.menu .items li:hover {
    background-color: rgb(202, 238, 234);
    cursor: pointer;
}

.menu .items li:hover ul{
    display: block;
}

.menu .items > li {
    display: block;
    padding: 10px 38px 15px;
    /*margin: 1px;
    padding: 15px 10px;*/
    border: 1px solid rgb(19, 63, 62);
    float: left;
    margin: 10px;
}

.menu .items::after{
    content: '';
    display: block;
    clear: both;
}

.menu .items ul{
    display: none;
    position: absolute;
    border: 1px solid rgb(19, 63, 62);
    background-color: rgb(19, 63, 62);
    width: 100%;
    left: 0;
    top: 100%;
}

.menu .items ul > li{
    color: rgb(162, 211, 209);
    padding: 0px;
}

.menu > .links {
    display: flex;
    gap: 10px;
}

.menu a{
    text-decoration: none;
}

.menu .lists{
    display: flex;
    gap: 10px;
    padding: 23px;
}

.menu .lists ul {
    display: none;
}

.menu .lists .list{
    background-color: rgb(19, 63, 62);
    color: rgb(162, 211, 209);
    padding: 7px 11px;
    margin: 7px 0;
    font-size: 0.875rem;
    cursor: pointer;
}

.menu .lists .list > div#pages::after{
    content: '';
    display: inline-block;
    border-top: 4px solid rgb(162, 211, 209);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.menu .items li#cat::after{
    content: '';
    display: inline-block;
    border-top: 4px solid rgb(19, 63, 62);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
} 
.menu .lists .list:hover{
    background-color: rgb(18, 143, 141);
}

.menu .lists .list:hover > ul{
    display: block;
    background-color: rgb(18, 143, 141);
    color: rgb(162, 211, 209);
}

.menu .lists .list {
    position: relative;
}

.menu .lists .list ul{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
}



/*.clearfix{
   clear: both;
}

.flex-menu{
    background-color: rgb(162, 211, 209);
    color: rgb(19, 63, 62);
}

.flex-menu .items > li{
    border: 1px solid rgb(19, 63, 62);
    padding: 5px;
}
.flex-menu .items{
    list-style: none;
    position: relative;
    display: flex;
    height: 100px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: row;
}*/